Package: yellow
Version: 0.9-1
Section: base
Priority: optional
Architecture: amd64
Depends: python-pyside.qtcore (>= 1.1.1), python-pypcap (>= 1.1.2)
Maintainer: Fastolph <schaeg_d@epitech.eu>
Description: A small Network Utility
 used for packet capture
